/.idea
###> symfony/framework-bundle ###
/app/.env.local
/app/.env.local.php
/app/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/app/app/public/bundles/
/app/var/
/app/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/app/phpunit.xml
app/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
app/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
### docker ###
/.docker/db
/.docker/etc
/composer.lock
/node_modules
/var
/vendor
/coverage/
/clover.xml
/.phpunit.result.cache
/coverage-html/
