<turbo-stream action="replace" target="profileModal">
    <template>
        <div id="profileModal" class="hidden"></div>
    </template>
</turbo-stream>

<turbo-stream action="append" target="flash-messages">
    <template>
        {% include 'shared/components/_flash_message.html.twig' with {
            message: 'Profil mis à jour avec succès !',
            type: 'success'
        } %}
    </template>
</turbo-stream>