<label for="{{ element.vars.id }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ label }}</label>
{{ form_widget(element, {
    'attr': {
        'class': 'input-field',
        'placeholder': element.vars.attr.placeholder|default('')
    }
}) }}