<h2 class="form-title">Information de l'adresse</h2>
<div class="form-grid">
    {{ form_row(space_form.address.street) }}
    {{ form_row(space_form.address.city) }}
</div>
<div class="form-grid">
    {{ form_row(space_form.address.postalCode) }}
    {{ form_row(space_form.address.country) }}
</div>
